@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900,&display=swap");



/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,*::before,*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,body{
	height: 100%;
}
html {
	font-size: 20px;
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	background-color: #F5F5F5;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
/* --------------- */
h3 {
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	color: #02133C;
}

h6 {
	font-size: 19px;
	font-weight: 700;
	line-height: 26px;
	color: #02133C;
}
.main {
	max-width: 1020px;
	margin: 0 auto;
}
.about {
	min-height: 700px;
	margin: 80px auto 230px;
	padding: 100px 87px;
	background-color: #fff;
	position: relative;
	
}
.title {
	max-width: 580px;
	margin: 0px 0px 40px 0px;
}
.overline {
	background: url('../img/Overline\ Mark.png') left no-repeat;
	padding: 0 0 0 33px;
	margin: 0px 0px 30px 0px;
}
.text-block {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #4B4B4B;
}
.image {
	position: absolute;
	top: 58%;
}
.card {
	background-color: #fff;
	max-width: 324px;
	padding: 50px 44px 50px 44px;
	text-align: center;
	margin: 0px 0px 20px 0px;
}
.icon {
	margin: 0px 0px 30px 0px;
}
.title__card {
	margin: 0px 0px 20px 0px;
}
.services {
	margin: 0px 0px 230px 0px;
}
